@page "/"



<PageTitle>Home</PageTitle>
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Welcome to Vetaya Health</h1>
        <h2>Utilitizing machine learning for better health.</h2>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero -->


<main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Why Choose Vetaya Health?</h3>
                        <p>
                            Remote patient monitoring enhances patient ​engagement and experience.
                        </p>
                        <div class="text-center">
                            <a href="https://info.nikayahealth.com" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Cutting-edge Care ​Coordination Platform</h4>
                                    <p>  Vetaya Health utilizes AI and ML, ​we transform remote patient ​monitoring (RPM) by analyzing ​extensive patient data for ​personalized care and precise ​predictions.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>RPM Platform</h4>
                                    <p>Our RPM platform, a branch of ​telehealth, employs smart ​medical devices and wearables ​to collect health data directly ​from patients for professional ​analysis.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>Other Platforms</h4>
                                    <p>Currently, we are exploring ​ECG, ketone, temperature, ​weight, blood pressure, sleep ​and skin response analysis ​through medical devices, ​alongside research initiatives.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section>
    <!-- End Why Us Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h3>Vetaya Health: Committed to Patient Health and Safety</h3>
                    <p>At Vetaya Health, we prioritize the well-being of our patients by ensuring the highest standards of health and safety.</p>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">State-of-the-Art Security</a></h4>
                        <p class="description">Our platform employs a customized security model designed to protect patient data from potential breaches, ensuring confidentiality and integrity.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Integrated Care Coordination Platform</a></h4>
                        <p class="description">Our comprehensive solution offers seamless care coordination, enabling healthcare providers to deliver personalized and efficient care.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a href="">Advanced Suite of Monitoring Devices </a></h4>
                        <p class="description">We utilize cellular connectivity to monitor patients, integrating data from a wide range of medical devices directly into our platform for real-time health management.</p>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="fas fa-user-md"></i>
                        <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Doctors</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="far fa-hospital"></i>
                        <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Departments</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="fas fa-flask"></i>
                        <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Research Labs</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="fas fa-award"></i>
                        <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Awards</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Devices Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Devices</h2>
                <p>Below are the devices we provide with more to come in the future. For a demo <a href="#contact">Contact Us.</a> </p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-heartbeat"></i></div>
                        <h4><a href="">Blood Pressure Cuff</a></h4>
                        <p>A blood pressure (BP) cuff used for RPM is a device designed to measure and track a patient's blood pressure outside of traditional clinical settings. These cuffs are digital and can automatically transmit readings to healthcare providers via the dashboard. This enables continuous monitoring and timely interventions, improving patient care and management of conditions.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pills"></i></div>
                        <h4><a href="">Weight Scale</a></h4>
                        <p>A weight scale used for RPM is a device designed to measure and track a patient's weight outside of traditional clinical settings. These scales are digital and can automatically transmit readings to healthcare providers via a cellular link to the dashboard. This enables continuous monitoring and timely interventions, improving patient care and management of weight-related conditions.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-hospital-user"></i></div>
                        <h4><a href="">Pulse Oximeter</a></h4>
                        <p>A pulse oximeter used for RPM is a device designed to measure and track a patient's oxygen saturation levels and pulse rate outside of traditional clinical settings. These devices are digital and can automatically transmit readings to healthcare providers via a cellular link to the dashboard. This enables continuous monitoring and timely interventions, improving patient care and management of respiratory and cardiovascular conditions.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-dna"></i></div>
                        <h4><a href=""></a>CPAP Machine</h4>
                        <p>A CPAP machine used for RPM is a device designed to provide continuous positive airway pressure therapy for patients with sleep apnea outside of traditional clinical settings. These machines are digital and can automatically transmit usage data and therapy effectiveness to healthcare providers via a cellular link to the dashboard. This enables continuous monitoring and timely adjustments, improving patient care and management of sleep apnea and related conditions.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-wheelchair"></i></div>
                        <h4><a href="">Sleep Mat</a></h4>
                        <p>The sleep mat is a cutting-edge sleep tracking device that offers seamless monitoring without the need for wearables. Designed to be placed under your mattress, it automatically tracks your sleep cycles, heart rate, snoring, and breathing disturbances throughout the night. The cellular connectivity allows for hassle-free data transmission to your health dashboard, making it ideal for remote patient monitoring. It also provides personalized insights and sleep coaching based on your sleep patterns, helping you improve your sleep quality over time. The mat is thin, comfortable, and easy to set up, making it a convenient solution for comprehensive sleep analysis.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-notes-medical"></i></div>
                        <h4><a href="">Continuous Glucose Monitoring</a></h4>
                        <p>
                            A Continuous Glucose Monitor (CGM) used in Remote Patient Monitoring (RPM) is a device designed to continuously track glucose levels in patients with diabetes outside of traditional clinical settings. These digital monitors automatically transmit real-time glucose data to healthcare providers via a cellular link to the dashboard. This allows for continuous monitoring, timely interventions, and personalized adjustments to treatment plans, thereby improving the management of diabetes and enhancing patient care.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Devices Section -->
    @* <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
    <div class="container">

    <div class="section-title">
    <h2>Make an Appointment</h2>
    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
    <div class="row">
    <div class="col-md-4 form-group">
    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
    <div class="validate"></div>
    </div>
    <div class="col-md-4 form-group mt-3 mt-md-0">
    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
    <div class="validate"></div>
    </div>
    <div class="col-md-4 form-group mt-3 mt-md-0">
    <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
    <div class="validate"></div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-4 form-group mt-3">
    <input type="datetime" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
    <div class="validate"></div>
    </div>
    <div class="col-md-4 form-group mt-3">
    <select name="department" id="department" class="form-select">
    <option value="">Select Department</option>
    <option value="Department 1">Department 1</option>
    <option value="Department 2">Department 2</option>
    <option value="Department 3">Department 3</option>
    </select>
    <div class="validate"></div>
    </div>
    <div class="col-md-4 form-group mt-3">
    <select name="doctor" id="doctor" class="form-select">
    <option value="">Select Doctor</option>
    <option value="Doctor 1">Doctor 1</option>
    <option value="Doctor 2">Doctor 2</option>
    <option value="Doctor 3">Doctor 3</option>
    </select>
    <div class="validate"></div>
    </div>
    </div>

    <div class="form-group mt-3">
    <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
    <div class="validate"></div>
    </div>
    <div class="mb-3">
    <div class="loading">Loading</div>
    <div class="error-message"></div>
    <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
    </div>
    <div class="text-center"><button type="submit">Make an Appointment</button></div>
    </form>

    </div>
    </section><!-- End Appointment Section --> *@
    @* <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
    <div class="container">

    <div class="section-title">
    <h2>Departments</h2>
    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row gy-4">
    <div class="col-lg-3">
    <ul class="nav nav-tabs flex-column">
    <li class="nav-item">
    <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Cardiology</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Neurology</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Hepatology</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Pediatrics</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Eye Care</a>
    </li>
    </ul>
    </div>
    <div class="col-lg-9">
    <div class="tab-content">
    <div class="tab-pane active show" id="tab-1">
    <div class="row gy-4">
    <div class="col-lg-8 details order-2 order-lg-1">
    <h3>Cardiology</h3>
    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
    <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
    </div>
    <div class="col-lg-4 text-center order-1 order-lg-2">
    <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
    </div>
    </div>
    </div>
    <div class="tab-pane" id="tab-2">
    <div class="row gy-4">
    <div class="col-lg-8 details order-2 order-lg-1">
    <h3>Et blanditiis nemo veritatis excepturi</h3>
    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
    <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
    </div>
    <div class="col-lg-4 text-center order-1 order-lg-2">
    <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
    </div>
    </div>
    </div>
    <div class="tab-pane" id="tab-3">
    <div class="row gy-4">
    <div class="col-lg-8 details order-2 order-lg-1">
    <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
    <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
    <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
    </div>
    <div class="col-lg-4 text-center order-1 order-lg-2">
    <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
    </div>
    </div>
    </div>
    <div class="tab-pane" id="tab-4">
    <div class="row gy-4">
    <div class="col-lg-8 details order-2 order-lg-1">
    <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
    <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
    <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
    </div>
    <div class="col-lg-4 text-center order-1 order-lg-2">
    <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
    </div>
    </div>
    </div>
    <div class="tab-pane" id="tab-5">
    <div class="row gy-4">
    <div class="col-lg-8 details order-2 order-lg-1">
    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
    <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
    </div>
    <div class="col-lg-4 text-center order-1 order-lg-2">
    <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    </div>
    </section><!-- End Departments Section --> *@
    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
        <div class="container">

            <div class="section-title">
                <h2>Doctors</h2>
                <p></p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Medical Officer</span>
                            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Sarah Jhonson</h4>
                            <span>Anesthesiologist</span>
                            <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>William Anderson</h4>
                            <span>Cardiology</span>
                            <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Amanda Jepson</h4>
                            <span>Neurosurgeon</span>
                            <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Doctors Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">
            <div class="section-title">
                <h2>Testimonials</h2>
                <p>What clients say about Vetaya Health</p>
            </div>
            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>Saul Goodman</h3>
                                <h4>Ceo &amp; Founder</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                <h3>Sara Wilsson</h3>
                                <h4>Designer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                <h3>Jena Karlis</h3>
                                <h4>Store Owner</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                <h3>Matt Brandon</h3>
                                <h4>Freelancer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                <h3>John Larson</h3>
                                <h4>Entrepreneur</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Frequently Asked Questions</h2>
                <p>Below you will find answers to the most common questions you may have regarding Vetaya Health. If you are unable to find an answer, you can <a href="#contact">Contact Us.</a></p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
                            What is remote patient monitoring (RPM)?
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                Remote patient monitoring (RPM) allows healthcare providers to monitor patients' health outside traditional clinical settings using medical devices and technology.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">
                            How does remote patient monitoring work?
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                RPM uses devices such as blood pressure cuffs, weight scales, pulse oximeters, and other tools to collect health data from patients. This data is sent securely to your healthcare provider for review.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">
                            What conditions can be monitored with RPM?
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                RPM is commonly used to monitor chronic conditions like hypertension, diabetes, COPD, sleep apnea, and heart disease.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
                            What devices are used for RPM?
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                We provide devices such as blood pressure cuffs, continuous glucose monitors (CGMs), weight scales, pulse oximeters, and CPAP machines, all integrated with our remote monitoring system. A full list of our devices can be found <a href="#services">here.</a>
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">
                            Is my data secure?
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Yes, all data collected through our platform is encrypted and transmitted securely, complying with HIPAA regulations to protect your privacy.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="500">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">
                            Who has access to my health data?
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Only your healthcare provider and authorized medical personnel will have access to your health data.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="600">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">
                            How often is my data reviewed?
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Your healthcare provider regularly reviews your data to ensure timely interventions and updates your care plan accordingly.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="700">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed">
                            Will my insurance cover RPM services?
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Many insurance plans, including Medicare, cover RPM services. We recommend checking with your provider for specifics.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="800">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-bs-toggle="collapse" data-bs-target="#faq-list-9" class="collapsed">
                            How do I get started with RPM?
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Contact our team to learn how you can enroll in our RPM program, and we’ll guide you through setting up your monitoring devices.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </section>
    <!-- End Frequently Asked Questions Section -->
    @* <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
    <div class="container">

    <div class="section-title">
    <h2>Gallery</h2>
    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>
    </div>

    <div class="container-fluid">
    <div class="row g-0">

    <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
    <a href="assets/img/gallery/gallery-1.jpg" class="galelry-lightbox">
    <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
    </a>
    </div>
    </div>

    <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
    <a href="assets/img/gallery/gallery-2.jpg" class="galelry-lightbox">
    <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
    </a>
    </div>
    </div>

    <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
    <a href="assets/img/gallery/gallery-3.jpg" class="galelry-lightbox">
    <img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
    </a>
    </div>
    </div>

    <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
    <a href="assets/img/gallery/gallery-4.jpg" class="galelry-lightbox">
    <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
    </a>
    </div>
    </div>

    <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
    <a href="assets/img/gallery/gallery-5.jpg" class="galelry-lightbox">
    <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
    </a>
    </div>
    </div>

    <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
    <a href="assets/img/gallery/gallery-6.jpg" class="galelry-lightbox">
    <img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
    </a>
    </div>
    </div>

    <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
    <a href="assets/img/gallery/gallery-7.jpg" class="galelry-lightbox">
    <img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
    </a>
    </div>
    </div>

    <div class="col-lg-3 col-md-4">
    <div class="gallery-item">
    <a href="assets/img/gallery/gallery-8.jpg" class="galelry-lightbox">
    <img src="assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
    </a>
    </div>
    </div>

    </div>

    </div>
    </section><!-- End Gallery Section --> *@
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact Us</h2>
                <p>Contact us for a demo today. We look forward to speaking with you to discuss your needs.</p>
            </div>
        </div>

        <div>
            <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3301.5786623882914!2d-118.25822152401963!3d34.157120112184785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c0527ff5a6db%3A0xd80546ff7a6978af!2s701%20N%20Brand%20Blvd%20%23820%2C%20Glendale%2C%20CA%2091203!5e0!3m2!1sen!2sus!4v1720294663583!5m2!1sen!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="container">
            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>701 N Brand Blvd #820, Glendale, CA 91203</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p><a href="mailto: support@nikayahealth.com"> support@nikayahealth.com </a></p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <a href="tel:+13236804068">+1 (323) 680-4068</a>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    @* <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                    <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    </div>
                    </div>
                    <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                    </form> *@
                    <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-4 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-4 form-group mt-3 mt-md-0">
                                <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group mt-3">
                                <input type="datetime" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-4 form-group mt-3">
                                @* <select name="department" id="department" class="form-control">
                                    <option value="">Select Department</option>
                                    <option value="Department 1">Sales</option>
                                    <option value="Department 2">Technical</option>
                                    <option value="Department 3">Complaints</option>
                                </select> *@
                                <div class="validate"></div>
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Make an Appointment</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->